n8n/Email to Join Task (Fresh).json
{
  "name": "Email to Join Task (Fresh)",
  "nodes": [
    {
      "parameters": {
        "url": "=https://join-b3c0f-default-rtdb.firebaseio.com/emailIndex/{{$json.messageKey}}.json",
        "options": {}
      },
      "id": "38985bd7-ecd4-4b11-9c91-5d9850662a6e",
      "name": "Check Duplicate Index1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        3632
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-oss:120b",
          "mode": "list",
          "cachedResultName": "gpt-oss:120b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1616,
        3632
      ],
      "id": "81ff54da-f6a4-4a09-9998-8a514e916b86",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "4lBY722OTo99LwWx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@maikpankow.de",
        "toEmail": "={{$(\u0027Build Task Payload\u0027).item.json.task.requesterEmail}}",
        "subject": "Task wurde erfolgreich erstellt.",
        "emailFormat": "text",
        "text": "=Hallo {{ $(\u0027Ai Normalize\u0027).item.json.senderName }} , \nDein Task wurde in Triage hinzugefügt. \nWenn es Fragen gibt, antworte einfach auf die E-mail.\n\nMit freundlichen Grüßen \n\ndein Join Team ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2640,
        3488
      ],
      "id": "4aef0bb7-70bf-4ab7-9b6f-7379157f3108",
      "name": "Send an Email",
      "webhookId": "2afb06d1-a3a8-4bc2-90b6-a53bdfe5fe45",
      "credentials": {
        "smtp": {
          "id": "hxLGO2GMQKseYcEZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c970cf10-e1d4-4f81-b866-4558cf0d4129",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        1216,
        3632
      ],
      "credentials": {
        "imap": {
          "id": "ZMGBUbuXopxrg3gK",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseSender(input, fromObj) {\n  let senderName = \u0027\u0027;\n  let senderEmail = \u0027\u0027;\n\n  if (fromObj \u0026\u0026 typeof fromObj === \u0027object\u0027) {\n    if (typeof fromObj.text === \u0027string\u0027 \u0026\u0026 fromObj.text.trim()) input = fromObj.text;\n    if (Array.isArray(fromObj.value) \u0026\u0026 fromObj.value[0]) {\n      senderName = (fromObj.value[0].name || \u0027\u0027).trim();\n      senderEmail = (fromObj.value[0].address || \u0027\u0027).trim();\n    }\n    if (!senderEmail \u0026\u0026 typeof fromObj.address === \u0027string\u0027) senderEmail = fromObj.address.trim();\n    if (!senderName \u0026\u0026 typeof fromObj.name === \u0027string\u0027) senderName = fromObj.name.trim();\n  }\n\n  const raw = (input || \u0027\u0027).toString().trim();\n  if (!senderEmail \u0026\u0026 raw) {\n    const angle = raw.match(/(.*)\u003c([^\u003e]+)\u003e/);\n    if (angle) {\n      senderName = senderName || angle[1].replace(/\\\"/g, \u0027\u0027).trim();\n      senderEmail = angle[2].trim();\n    }\n  }\n\n  if (!senderEmail \u0026\u0026 raw) {\n    const plainMail = raw.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n    if (plainMail) senderEmail = plainMail[0].trim();\n  }\n\n  if (!senderName \u0026\u0026 raw) senderName = raw.replace(/\u003c[^\u003e]+\u003e/g, \u0027\u0027).replace(/[\\\"\u0027]/g, \u0027\u0027).trim();\n  if (!senderName) senderName = senderEmail || \u0027Unknown Sender\u0027;\n  if (!senderEmail) senderEmail = \u0027unknown@example.local\u0027;\n\n  return { senderName, senderEmail };\n}\n\nfunction decodeQuotedPrintable(text) {\n  let s = (text || \u0027\u0027).toString();\n  s = s.replace(/=\\r?\\n/g, \u0027\u0027);\n  s = s.replace(/=([A-Fa-f0-9]{2})/g, (_, hex) =\u003e {\n    const code = Number.parseInt(hex, 16);\n    return Number.isNaN(code) ? \u0027\u0027 : String.fromCharCode(code);\n  });\n  return s;\n}\n\nfunction toPlainText(input) {\n  return decodeQuotedPrintable(input || \u0027\u0027)\n    .replace(/\u003cbr\\s*\\/?\\s*\u003e/gi, \u0027\\n\u0027)\n    .replace(/\u003c\\/p\u003e/gi, \u0027\\n\u0027)\n    .replace(/\u003c\\/div\u003e/gi, \u0027\\n\u0027)\n    .replace(/\u003c\\/li\u003e/gi, \u0027\\n\u0027)\n    .replace(/\u003cli[^\u003e]*\u003e/gi, \u0027- \u0027)\n    .replace(/\u003c[^\u003e]+\u003e/g, \u0027\u0027)\n    .replace(/\u0026nbsp;/gi, \u0027 \u0027)\n    .replace(/\u0026amp;/gi, \u0027\u0026\u0027)\n    .replace(/\u0026quot;/gi, \u0027\"\u0027)\n    .replace(/\\r\\n/g, \u0027\\n\u0027)\n    .replace(/\\r/g, \u0027\\n\u0027)\n    .replace(/[\\t ]+/g, \u0027 \u0027)\n    .replace(/\\n{3,}/g, \u0027\\n\\n\u0027)\n    .trim();\n}\n\nfunction parseStructuredFields(text) {\n  const fields = {\n    title: \u0027\u0027,\n    description: \u0027\u0027,\n    dueDateRaw: \u0027\u0027,\n    priorityRaw: \u0027\u0027,\n    assignedRaw: \u0027\u0027,\n    categoryRaw: \u0027\u0027,\n    subtasksRaw: \u0027\u0027,\n    statusRaw: \u0027\u0027\n  };\n\n  const source = (text || \u0027\u0027).toString();\n  if (!source) return fields;\n\n  const keyMap = {\n    title: \u0027title\u0027,\n    titel: \u0027title\u0027,\n    description: \u0027description\u0027,\n    descritpion: \u0027description\u0027,\n    \u0027due date\u0027: \u0027dueDateRaw\u0027,\n    duedate: \u0027dueDateRaw\u0027,\n    due: \u0027dueDateRaw\u0027,\n    priority: \u0027priorityRaw\u0027,\n    prio: \u0027priorityRaw\u0027,\n    assigned: \u0027assignedRaw\u0027,\n    assign: \u0027assignedRaw\u0027,\n    category: \u0027categoryRaw\u0027,\n    catgory: \u0027categoryRaw\u0027,\n    categroy: \u0027categoryRaw\u0027,\n    subtask: \u0027subtasksRaw\u0027,\n    subtasks: \u0027subtasksRaw\u0027,\n    status: \u0027statusRaw\u0027\n  };\n\n  const regex = /(title|titel|description|descritpion|due\\s*date|duedate|due|priority|prio|assigned|assign|category|catgory|categroy|subtasks?|status)\\s*:/ig;\n  const hits = [];\n  let m;\n  while ((m = regex.exec(source)) !== null) {\n    hits.push({\n      label: m[1].toLowerCase().replace(/\\s+/g, \u0027 \u0027).trim(),\n      index: m.index,\n      end: regex.lastIndex\n    });\n  }\n\n  for (let i = 0; i \u003c hits.length; i++) {\n    const cur = hits[i];\n    const next = hits[i + 1];\n    const rawValue = source.slice(cur.end, next ? next.index : source.length).trim();\n    const key = keyMap[cur.label];\n    if (key \u0026\u0026 rawValue) fields[key] = rawValue;\n  }\n\n  return fields;\n}\n\nfunction normalizeDueDate(input) {\n  const raw = (input || \u0027\u0027).toString().trim();\n  if (!raw) {\n    const d = new Date();\n    d.setDate(d.getDate() + 1);\n    return d.toISOString().slice(0, 10);\n  }\n\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n\n  const m = raw.match(/^(\\d{1,2})[.\\/-](\\d{1,2})[.\\/-](\\d{2}|\\d{4})$/);\n  if (m) {\n    const dd = m[1].padStart(2, \u00270\u0027);\n    const mm = m[2].padStart(2, \u00270\u0027);\n    let yy = m[3];\n    if (yy.length === 2) yy = (Number(yy) \u003e= 70 ? \u002719\u0027 : \u002720\u0027) + yy;\n    return `${yy}-${mm}-${dd}`;\n  }\n\n  const parsed = new Date(raw);\n  if (!Number.isNaN(parsed.getTime())) return parsed.toISOString().slice(0, 10);\n\n  const d = new Date();\n  d.setDate(d.getDate() + 1);\n  return d.toISOString().slice(0, 10);\n}\n\nfunction normalizePriority(input) {\n  const p = (input || \u0027\u0027).toString().toLowerCase().trim();\n  if (p.includes(\u0027urgent\u0027) || p.includes(\u0027high\u0027) || p.includes(\u0027highest\u0027) || p.includes(\u0027critical\u0027) || p.includes(\u0027hoch\u0027)) return \u0027high\u0027;\n  if (p.includes(\u0027low\u0027) || p.includes(\u0027niedrig\u0027)) return \u0027low\u0027;\n  return \u0027medium\u0027;\n}\n\nfunction normalizeCategory(input) {\n  const c = (input || \u0027\u0027).toString().toLowerCase().trim();\n  if (c.includes(\u0027tech\u0027) || c.includes(\u0027technical\u0027) || c.includes(\u0027engineering\u0027) || c.includes(\u0027dev\u0027)) return \u0027tech\u0027;\n  return \u0027user\u0027;\n}\n\nfunction normalizeStatus(input) {\n  const s = (input || \u0027\u0027).toString().toLowerCase().trim();\n  if (s.includes(\u0027progress\u0027)) return \u0027progress\u0027;\n  if (s.includes(\u0027feedback\u0027) || s.includes(\u0027review\u0027)) return \u0027feedback\u0027;\n  if (s.includes(\u0027done\u0027) || s.includes(\u0027finish\u0027)) return \u0027done\u0027;\n  return \u0027todo\u0027;\n}\n\nfunction parseAssigned(input) {\n  return (input || \u0027\u0027)\n    .toString()\n    .split(/[;,\\n]/)\n    .map((v) =\u003e v.trim())\n    .filter(Boolean);\n}\n\nfunction parseSubtasks(input) {\n  const parts = (input || \u0027\u0027)\n    .toString()\n    .split(/\\n|;|\\.{3,}|,/)\n    .map((v) =\u003e v.replace(/^[-*]\\s*/, \u0027\u0027).trim())\n    .filter(Boolean);\n  return parts.map((title) =\u003e ({ title, done: false }));\n}\n\nconst subject = ($json.subject || \u0027Email Request\u0027).toString().trim();\nconst messageIdRaw = ($json.messageId || $json[\u0027message-id\u0027] || ($json.headers \u0026\u0026 $json.headers[\u0027message-id\u0027]) || $json.id || (\u0027mail_\u0027 + Date.now())).toString();\nconst receivedAt = ($json.date || ($json.headers \u0026\u0026 $json.headers.date) || new Date().toISOString()).toString();\nconst sender = parseSender(($json.headers \u0026\u0026 $json.headers.from) || $json.from || \u0027\u0027, $json.from);\nconst bodyText = toPlainText($json.textPlain || $json.text || $json.textHtml || $json.html || \u0027\u0027);\nconst fields = parseStructuredFields(bodyText);\nconst todayIso = new Date().toISOString().slice(0, 10);\n\nconst taskId = String(Date.now());\nconst messageKey = messageIdRaw\n  .toLowerCase()\n  .replace(/[.#$/\\[\\]]/g, \u0027_\u0027)\n  .replace(/[^a-z0-9_-]/g, \u0027_\u0027)\n  .slice(0, 120);\n\nconst prompt = [\n  \u0027You are an email-to-task extraction agent.\u0027,\n  \u0027Read the email and return ONLY valid JSON (no markdown, no explanation).\u0027,\n  \u0027JSON schema (all string values):\u0027,\n  \u0027{\"title\":\"\",\"description\":\"\",\"dueDateRaw\":\"\",\"priorityRaw\":\"\",\"assignedRaw\":\"\",\"categoryRaw\":\"\",\"subtasksRaw\":\"\",\"statusRaw\":\"\"}\u0027,\n  \u0027Extraction rules:\u0027,\n  \u0027- title: short, actionable task title.\u0027,\n  \u0027- description: concise but complete summary of request.\u0027,\n  \u0027- dueDateRaw: ISO date YYYY-MM-DD if date can be inferred, otherwise empty string.\u0027,\n  \u0027- If text says things like \"by August 2nd latest\", convert to YYYY-MM-DD.\u0027,\n  \u0027- priorityRaw: high|medium|low (high if text says highest priority / priority over everything else).\u0027,\n  \u0027- assignedRaw: comma-separated names, empty if unknown.\u0027,\n  \u0027- categoryRaw: tech or user (tech for implementation/development/infrastructure tasks).\u0027,\n  \u0027- subtasksRaw: semicolon-separated list of concrete subtasks.\u0027,\n  \u0027- statusRaw: todo|progress|feedback|done (default todo).\u0027,\n  \u0027\u0027,\n  `Today: ${todayIso}`,\n  `From: ${sender.senderName} \u003c${sender.senderEmail}\u003e`,\n  `Subject: ${subject}`,\n  \u0027\u0027,\n  \u0027Body:\u0027,\n  bodyText || \u0027(empty)\u0027\n].join(\u0027\\n\u0027);\n\nreturn [{\n  json: {\n    taskId,\n    messageKey,\n    messageIdRaw,\n    prompt,\n    senderName: sender.senderName,\n    senderEmail: sender.senderEmail,\n    subject,\n    bodyText,\n    parsedFields: fields,\n    task: {\n      id: taskId,\n      title: (fields.title || subject || (\u0027Email Request - \u0027 + sender.senderName)).slice(0, 80),\n      description: (fields.description || bodyText || \u0027\u0027).slice(0, 4000),\n      dueDate: normalizeDueDate(fields.dueDateRaw),\n      category: normalizeCategory(fields.categoryRaw),\n      priority: normalizePriority(fields.priorityRaw),\n      status: normalizeStatus(fields.statusRaw),\n      subtasks: parseSubtasks(fields.subtasksRaw),\n      assigned: parseAssigned(fields.assignedRaw),\n      source: \u0027email\u0027,\n      requester: sender.senderName,\n      requesterEmail: sender.senderEmail,\n      receivedAt\n    }\n  }\n}];"
      },
      "id": "14265244-6773-4940-8b0c-ff2ef7fc31c2",
      "name": "Build Task Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        3632
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeDueDate(input) {\n  const raw = String(input || \u0027\u0027).trim();\n  if (!raw) return new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n\n  const match = raw.match(/^(\\d{1,2})[.\\/-](\\d{1,2})[.\\/-](\\d{2}|\\d{4})$/);\n  if (match) {\n    const dd = match[1].padStart(2, \u00270\u0027);\n    const mm = match[2].padStart(2, \u00270\u0027);\n    let yy = match[3];\n    if (yy.length === 2) yy = (Number(yy) \u003e= 70 ? \u002719\u0027 : \u002720\u0027) + yy;\n    return `${yy}-${mm}-${dd}`;\n  }\n\n  const parsed = new Date(raw);\n  if (!Number.isNaN(parsed.getTime())) return parsed.toISOString().slice(0, 10);\n\n  return new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n}\n\nfunction normalizePriority(input) {\n  const value = String(input || \u0027\u0027).toLowerCase().trim();\n  if (value.includes(\u0027urgent\u0027) || value.includes(\u0027high\u0027) || value.includes(\u0027highest\u0027) || value.includes(\u0027critical\u0027) || value.includes(\u0027hoch\u0027)) return \u0027high\u0027;\n  if (value.includes(\u0027low\u0027) || value.includes(\u0027niedrig\u0027)) return \u0027low\u0027;\n  return \u0027medium\u0027;\n}\n\nfunction normalizeCategory(input) {\n  const value = String(input || \u0027\u0027).toLowerCase().trim();\n  if (value.includes(\u0027tech\u0027) || value.includes(\u0027technical\u0027) || value.includes(\u0027engineering\u0027) || value.includes(\u0027dev\u0027)) return \u0027tech\u0027;\n  return \u0027user\u0027;\n}\n\nfunction normalizeStatus(input) {\n  const value = String(input || \u0027\u0027).toLowerCase().trim();\n  if (value.includes(\u0027progress\u0027)) return \u0027progress\u0027;\n  if (value.includes(\u0027feedback\u0027) || value.includes(\u0027review\u0027)) return \u0027feedback\u0027;\n  if (value.includes(\u0027done\u0027) || value.includes(\u0027finish\u0027)) return \u0027done\u0027;\n  return \u0027todo\u0027;\n}\n\nfunction parseAssigned(input) {\n  return String(input || \u0027\u0027)\n    .split(/[;,\\n]/)\n    .map((value) =\u003e value.trim())\n    .filter(Boolean);\n}\n\nfunction parseSubtasks(input) {\n  return String(input || \u0027\u0027)\n    .split(/\\n|;|\\.{3,}|,/)\n    .map((value) =\u003e value.replace(/^[-*]\\s*/, \u0027\u0027).trim())\n    .filter(Boolean)\n    .map((title) =\u003e ({ title, done: false }));\n}\n\nfunction parseJsonLoose(input) {\n  if (input == null) return {};\n  if (typeof input === \u0027object\u0027) return input;\n  const text = String(input).trim();\n  if (!text) return {};\n\n  try {\n    return JSON.parse(text);\n  } catch {}\n\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fenced \u0026\u0026 fenced[1]) {\n    try {\n      return JSON.parse(fenced[1]);\n    } catch {}\n  }\n\n  const first = text.indexOf(\u0027{\u0027);\n  const last = text.lastIndexOf(\u0027}\u0027);\n  if (first !== -1 \u0026\u0026 last \u003e first) {\n    const candidate = text.slice(first, last + 1);\n    try {\n      return JSON.parse(candidate);\n    } catch {}\n  }\n\n  return {};\n}\n\nconst context = $node[\u0027Build Task Payload\u0027].json;\nconst rawOutput =\n  $json.output ??\n  $json.response ??\n  $json.content ??\n  ($json.message \u0026\u0026 $json.message.content) ??\n  ($json.data \u0026\u0026 $json.data.output) ??\n  $json;\n\nconst extracted = parseJsonLoose(rawOutput);\n\nconst sourceTask = context.task || {};\nconst title = String(extracted.title || sourceTask.title || context.subject || \u0027Task\u0027).trim();\nconst description = String(extracted.description || sourceTask.description || context.bodyText || \u0027\u0027).trim();\n\nreturn [{\n  json: {\n    taskId: context.taskId,\n    messageKey: context.messageKey,\n    messageIdRaw: context.messageIdRaw,\n    senderName: context.senderName,\n    senderEmail: context.senderEmail,\n    parsedFields: extracted,\n    task: {\n      id: context.taskId,\n      title,\n      description,\n      dueDate: normalizeDueDate(extracted.dueDateRaw),\n      category: normalizeCategory(extracted.categoryRaw),\n      priority: normalizePriority(extracted.priorityRaw),\n      status: normalizeStatus(extracted.statusRaw),\n      subtasks: parseSubtasks(extracted.subtasksRaw),\n      assigned: parseAssigned(extracted.assignedRaw),\n      source: \u0027email\u0027,\n      requester: context.senderName,\n      requesterEmail: context.senderEmail,\n      receivedAt: context.receivedAt,\n    },\n  },\n}];"
      },
      "id": "26cc06ba-b783-419c-9c82-790d0886d31c",
      "name": "Ai Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        3632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ccc39988-16b8-4908-a399-e4a69be0e778",
      "name": "Is New Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        3632
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://join-b3c0f-default-rtdb.firebaseio.com/tasks/{{$node[\u0027Build Task Payload\u0027].json[\u0027taskId\u0027]}}.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\u0027Build Task Payload\u0027].json[\u0027task\u0027] }}",
        "options": {}
      },
      "id": "9e20e6e3-def9-4a40-becc-53c16a5086b7",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        3728
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://join-b3c0f-default-rtdb.firebaseio.com/emailIndex/{{$node[\u0027Build Task Payload\u0027].json[\u0027messageKey\u0027]}}.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { taskId: $node[\u0027Build Task Payload\u0027].json[\u0027taskId\u0027], messageId: $node[\u0027Build Task Payload\u0027].json[\u0027messageIdRaw\u0027], createdAt: $now } }}",
        "options": {}
      },
      "id": "c421077b-10ab-4722-8cdb-82f56399d692",
      "name": "Save Email Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        3728
      ]
    },
    {
      "parameters": {},
      "id": "34863b74-7e7f-4c68-bfc5-e453c5427aeb",
      "name": "Already Processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2688,
        3920
      ]
    },
    {
      "parameters": {
        "url": "=https://join-b3c0f-default-rtdb.firebaseio.com/requestQuota/{{$node[\u0027Build Task Payload\u0027].json[\u0027senderEmail\u0027].toLowerCase().replace(/[.#$/\\\\[\\\\]]/g, \u0027_\u0027).replace(/[^a-z0-9_-]/g, \u0027_\u0027).slice(0, 120)}}.json",
        "options": {}
      },
      "id": "33160791-f0b3-40de-a538-d0b2ecb2191b",
      "name": "Check Request Quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2544,
        3632
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nlet count = 0;\n\nif (typeof raw === \u0027number\u0027) {\n  count = raw;\n} else if (typeof raw === \u0027string\u0027 \u0026\u0026 raw.trim() !== \u0027\u0027) {\n  const asNum = Number(raw);\n  count = Number.isFinite(asNum) ? asNum : 0;\n} else if (raw \u0026\u0026 typeof raw === \u0027object\u0027) {\n  if (typeof raw.count === \u0027number\u0027) count = raw.count;\n  else if (typeof raw.value === \u0027number\u0027) count = raw.value;\n  else if (typeof raw.data === \u0027number\u0027) count = raw.data;\n  else if (typeof raw.body === \u0027number\u0027) count = raw.body;\n  else {\n    const values = Object.values(raw);\n    if (values.length === 1 \u0026\u0026 typeof values[0] === \u0027number\u0027) count = values[0];\n  }\n}\n\ncount = Number.isFinite(count) ? count : 0;\nreturn [{ json: { count, nextCount: count + 1, allowed: count \u003c 10 } }];"
      },
      "id": "9568531a-287e-4191-872b-cbaa0dd951cf",
      "name": "Compute Request Quota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        3632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e037b73f-8d5d-4e57-96cc-de5a036020b6",
      "name": "Quota Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        3632
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://join-b3c0f-default-rtdb.firebaseio.com/requestQuota/{{$node[\u0027Build Task Payload\u0027].json[\u0027senderEmail\u0027].toLowerCase().replace(/[.#$/\\\\[\\\\]]/g, \u0027_\u0027).replace(/[^a-z0-9_-]/g, \u0027_\u0027).slice(0, 120)}}.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\u0027Compute Request Quota\u0027].json[\u0027nextCount\u0027] }}",
        "options": {}
      },
      "id": "70bf241a-c14c-4cdc-9586-73d6d080a150",
      "name": "Save Request Quota",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        3728
      ]
    },
    {
      "parameters": {},
      "id": "a9d16271-c2ed-4cd7-a5ec-868d53c9e284",
      "name": "Request Limit Reached",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3120,
        3904
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You extract structured task data from incoming emails. Return only task extraction content that can be parsed into title, description, dueDateRaw, priorityRaw, assignedRaw, categoryRaw, subtasksRaw, statusRaw."
        }
      },
      "id": "7a1de6b4-8a92-4b2a-a7f8-9c6d51e40933",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1744,
        3632
      ]
    },
    {
      "parameters": {
        "description": "Use this tool to think through ambiguous email details before extracting task fields."
      },
      "id": "f7ea2d6c-e2ab-4b2b-a3fe-b7c0f7a51d7f",
      "name": "Think Tool",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1744,
        3824
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Check Duplicate Index1": {
      "main": [
        [
          {
            "node": "Is New Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger": {
      "main": [
        [
          {
            "node": "Build Task Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Payload": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Ai Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai Normalize": {
      "main": [
        [
          {
            "node": "Check Duplicate Index1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Email": {
      "main": [
        [
          {
            "node": "Check Request Quota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Request Quota": {
      "main": [
        [
          {
            "node": "Compute Request Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Request Quota": {
      "main": [
        [
          {
            "node": "Quota Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quota Available?": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Limit Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Save Email Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Index": {
      "main": [
        [
          {
            "node": "Save Request Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Request Quota": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1,
    "executionTimeout": 30
  },
  "versionId": "48e5a02e-fa3b-4d68-af3f-105722903a64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bfd179ff4513628301fe91000b90dbcd4a31c12ce56a213ce15576ae4e29bf1"
  },
  "nodeGroups": [],
  "id": "rcp6FhlONURBt75C",
  "tags": []
}
